---
import Settings from "@/layouts/Settings.astro";
import Form from "@/components/Form.astro";
import Field from "@/components/Field.astro";
import { variable } from "@/lib/tera";
import Button from "@/components/Button.astro";
import Label from "@/components/Label.astro";
import Connection from "@/components/Connection.astro";
---

<Settings path="/settings/account" title="Account">
    <Form noTemplate>
        <Field
            noTemplate
            label="Email"
            type="email"
            help="Your email comes from the service you used to initially register. To sign in with another service link it below"
            value={variable("user.email")}
            readonly
        />
        <Label
            innerSpanClass="flex flex-col w-full gap-2"
            label="Connections"
            help="You can link other services to your account as an option to sign in with."
        >
            <Connection name="github" label="GitHub" icon="tabler:brand-github" />
            <Connection name="google" label="Google" icon="tabler:brand-google" />
        </Label>
        <Label
            label="Delete Account"
            help="This will delete your account and all associated data. This action is irreversible."
        >
            <Button
                as="a"
                size="md"
                color="danger"
                icon="tabler:user-x"
                href="/settings/account/delete"
                class="max-w-fit"
            >
                Delete Account
            </Button>
        </Label>
        <Fragment slot="hr"></Fragment>
        <Fragment slot="submit"></Fragment>
    </Form>
</Settings>
