---
import Field from "@/components/Field.astro";
import Form from "@/components/Form.astro";
import For from "@/components/tera/For.astro";
import Variable from "@/components/tera/Variable.astro";
import Settings from "@/layouts/Settings.astro";
import { tag, variable } from "@/lib/tera";
---

<Settings path="/settings/contest" title="Contest">
    <Form submitWord="Save">
        <Field
            type="select"
            id="color-scheme-select"
            label="Color Scheme"
            name="color_scheme"
            help="Select the color scheme for the website"
            options={[
                ["UseSystem", "Use System"],
                ["Light", "Light"],
                ["Dark", "Dark"]
            ]}
        />
        <Field
            type="select"
            label="Programming Language"
            name="default_language"
            help="Select the default programming language for your editor"
            options={[]}
        >
            <For sourceList="languages" itemName="language" slot="options_templated">
                <option
                    value={variable("language[0]")}
                    data-phantom={`${tag(`if form.data.default_language == language[0]`)}${variable("fake_attr(attr='selected') | safe")}${tag("endif")}`}
                >
                    <Variable expression="language[1]" />
                </option>
            </For>
        </Field>
    </Form>
</Settings>

<script>
    const valueToClassName = {
        Light: "light",
        Dark: "dark",
        UseSystem: "system"
    } as Record<string, string>;

    const schemeSelector = document.querySelector("#color-scheme-select") as HTMLSelectElement;
    let oldVal = schemeSelector.value;
    schemeSelector.onchange = (e) => {
        const val = (e.target as HTMLSelectElement).value;
        const root = document.documentElement;
        root.classList.remove(valueToClassName[oldVal]!);
        root.classList.add(valueToClassName[val]!);
        oldVal = val;
    };
</script>
