---
import Settings from "@/layouts/Settings.astro";
import Form from "@/components/Form.astro";
import Field from "@/components/Field.astro";
import { variable } from "@/lib/tera";
---

<Settings path="/settings/profile" title="Profile">
    <Form data-astro-reload action="/settings/profile">
        <Field
            placeholder={variable("user.default_display_name")}
            label="Display Name"
            name="display_name"
            type="text"
            maxlength={32}
            help="This will be the public name shown on the web interface, rankings, etc. Leave blank to use a default"
        />
        <Field
            rows={4}
            placeholder="Year, Major, Interests, Favorite Language, etc..."
            label="Bio"
            name="bio"
            type="textarea"
            help="Write a little about yourself, this will be public when someone views your profile"
        />
        <Field
            label="Profile Picture"
            name="profile_picture_source"
            help="Select which service to use for profile pictures. Gravatar is the default but you can use GitHub if it's linked"
            type="select"
            options={[
                ["gravatar", "Gravatar"],
                ["github", "GitHub"]
            ]}
        />
    </Form>
</Settings>
