---
import ContestLayout from "@/layouts/ContestLayout.astro";
import Button from "@/components/Button.astro";
import If from "@/components/tera/If.astro";
import ProblemsTable from "@/components/table/ProblemsTable.astro";
import { tag, variable } from "@/lib/tera";
import BreadCrumb from "@/components/BreadCrumb.astro";
import Title from "@/components/Title.astro";
import Variable from "@/components/tera/Variable.astro";

const description = `View the problems for ${variable("contest.name")}, ${variable("branding.name")}`;
---

<ContestLayout
    showAdminVar="logged_in and can_edit"
    path=`/contests/${variable("contest.id")}/problems`
    class="!gap-3"
    title="Problems"
    description={description}
    makeTile
>
    <BreadCrumb
        entries={[
            ["Contests", "/contests"],
            [variable("contest.name"), `/contests/${variable("contest.id")}`],
            ["Problems", `/contests/${variable("contest.id")}/problems`]
        ]}
    />
    <Title>Problems for <Variable expression="contest.name" /></Title>
    <ProblemsTable
        overrideEmptyText={`${tag("if started")}No Problems${tag("else")}This contest hasn't started yet, check back when it does!${tag("endif")}`}
    />
</ContestLayout>
