$selectionColor: #0072ff44 !important;

.cm-editor {
    font-size: large;

    &::selection {
        background: $selectionColor;
    }

    .cm-content {
        caret-color: $selectionColor;

        .cm-selectionMatch {
            background-color: var(--primary-200) !important;
        }

        .cm-activeLine {
            /* lower alpha to make it less intrusive */
            background-color: #b5b5b522;
        }
    }

    .cm-textfield {
        color: var(--text-950) !important;
        background-color: var(--secondary-50);
        border: none;
    }

    .cm-button {
        color: var(--text-950) !important;
        border-radius: 0.375rem;
        border: none !important;
        background-image: none !important;
        background-color: var(--secondary-200);

        &:hover {
            background-color: var(--secondary-300);
        }
    }

    .cm-panels-bottom {
        border: none !important;
    }

    .cm-panel {
        background-color: var(--background-100);
        border: none;

        button[name="close"] {
            color: var(--text-950) !important;
        }

        label {
            color: var(--text-950) !important;
        }
    }

    .cm-tooltip {
        background-color: var(--background-50);
    }

    .cm-foldPlaceholder {
        background-color: var(--secondary-100);
        border: 1px solid var(--secondary-200);
        color: var(--text-950);
    }

    .cm-gutters {
        background-color: var(--background-50);
        border: none;

        .cm-activeLineGutter {
            background-color: var(--secondary-100);
        }
    }

    .cm-selectionLayer .cm-selectionBackground {
        background: $selectionColor;
    }

    .cm-cursorLayer .cm-cursor {
        border-left: 1px solid var(--text-800);
    }
}
