@mixin light {
    --first-color: #aa953a;
    --second-color: #9babba;
    --third-color: #b97c2a;
}

@mixin dark {
    --first-color: #fad94a;
    --second-color: #9babba;
    --third-color: #b97c2a;
}

:root {
    @include light;
    --color-transition-duration: 100ms;
}

:root.dark {
    @include dark;
}

@media (prefers-color-scheme: dark) {
    :root.system {
        @include dark;
    }
}

* {
    transition:
        color var(--color-transition-duration) linear,
        background-color var(--color-transition-duration) linear,
        border-color var(--color-transition-duration) linear;

    $scrollbar-width: 0.75rem;
    $scrollbar-radius: 0.375rem;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
        height: $scrollbar-width;
        border-radius: $scrollbar-radius;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--secondary-200);
        border-radius: $scrollbar-radius;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--background-100);
    }
}
