---
import Layout from "@/layouts/Layout.astro";
import Tile from "@/components/Tile.astro";
import Button from "@/components/Button.astro";
import Title from "@/components/Title.astro";

// TODO: Configurable SSO login message
---

<Layout
    path="/auth/login"
    class="flex h-full flex-col items-center justify-center gap-4"
    title="Login / Register"
>
    <Tile class="max-w-1/2 flex flex-col justify-center gap-3">
        <Title class="text-center">Login</Title>
        <p class="wrap text-center">Choose a service to login or sign up with to continue</p>
        <Button
            as="a"
            href="/auth/saml/login"
            icon="tabler:key"
            size="xl"
            color="primary"
            class="flex w-full justify-center align-middle">SSO Login</Button
        >
        <Button
            as="a"
            icon="tabler:brand-github"
            size="xl"
            color="custom"
            class="flex w-full justify-center bg-[#120E0F] align-middle text-white hover:bg-[hsl(345,13%,8%)]"
            href="/auth/github/login"
        >
            Login with GitHub
        </Button>
        <Button
            as="a"
            icon="tabler:brand-google"
            size="xl"
            color="custom"
            class="flex w-full justify-center bg-[#FFFFFF] align-middle text-black hover:bg-[#DDDDDD]"
            href="/auth/google/login"
        >
            Login with Google
        </Button>
    </Tile>
    <Tile class="max-w-1/2 flex flex-col justify-center gap-3">
        <h2 class="text-center text-2xl">...Or Register</h2>
        <p class="wrap text-center">Sign in with your WCU credentials to get started</p>
        <Button
            as="a"
            href="/auth/saml/login"
            icon="tabler:key"
            size="xl"
            color="secondary"
            class="flex w-full justify-center align-middle">SSO Register</Button
        >
    </Tile>
</Layout>
