---
import Layout from "@/layouts/Layout.astro";
import ContestForm from "@/components/forms/ContestForm.astro";
import BreadCrumb from "@/components/BreadCrumb.astro";
import Title from "@/components/Title.astro";
---

<Layout noIndex path=`/contests/new` title="Create Contest" makeTile>
    <BreadCrumb
        entries={[
            ["Contests", "/contests"],
            ["New", "/contests/new"]
        ]}
    />
    <Title>Create Contest</Title>
    <ContestForm />
</Layout>
