---
import Form from "@/components/Form.astro";
import Button from "@/components/Button.astro";
import BreadCrumb from "@/components/BreadCrumb.astro";
import Title from "../Title.astro";

export type Props = {
    title: string;
    prompt: string;
    backLink: string;
    noAppendWarning?: boolean;
    breadcrumb?: [string, string][];
};

const { title, prompt, backLink, breadcrumb, noAppendWarning = false } = Astro.props;
---

{breadcrumb && <BreadCrumb entries={breadcrumb} />}
<Title>{title}</Title>
<Form noTemplate>
    <h3 class="text-lg">
        {prompt}{!noAppendWarning && <strong> This action cannot be undone.</strong>}
    </h3>
    <div class="flex flex-row gap-2" slot="submit">
        <Button as="button" class="w-1/2 md:w-fit" color="danger" type="submit">Confirm</Button>
        <Button as="a" class="w-1/2 text-center md:w-fit" color="secondary" href={backLink}
            >Cancel</Button
        >
    </div>
</Form>
