---
import Tile from "@/components/Tile.astro";
import Layout from "@/layouts/Layout.astro";

import { variable } from "@/lib/tera";
import Variable from "@/components/tera/Variable.astro";
import If from "@/components/tera/If.astro";
import Button from "@/components/Button.astro";
import Else from "@/components/tera/Else.astro";

const headingText = "branding.homepage.heading_text | default(value=branding.name)";
const descriptionExpr = "branding.homepage.body_text | default(value='')";
const description = variable(descriptionExpr);
---

<Layout path="/" description={description} class="flex flex-col gap-4">
    <Tile class="flex flex-col-reverse gap-2 !p-8 text-center lg:flex-row lg:text-left">
        <div class="flex flex-col gap-2">
            <h1 class="mb-2 text-5xl font-extrabold">
                <Variable expression={headingText} />
            </h1>
            <p class="text-xl">
                <Variable expression={descriptionExpr} />
            </p>
            <span class="grow"></span>
            <div class="mx-auto mt-2 flex flex-row gap-2 lg:mx-0">
                <If debugEval={false} expression="logged_in">
                    <Button class="px-8 py-4" size="2xl" color="primary" as="a" href="/contests"
                        >Go To Contests</Button
                    >
                    <Else slot="else">
                        <Button
                            class="px-8 py-4"
                            size="2xl"
                            color="primary"
                            as="a"
                            href="/auth/login">Get Started</Button
                        >
                        <Button
                            class="px-8 py-4"
                            size="2xl"
                            color="secondary"
                            as="a"
                            href="/contests">View Contests</Button
                        >
                    </Else>
                </If>
            </div>
            <span class="grow"></span>
        </div>
        <span class="hidden grow basis-96 lg:inline"></span>
        <div class="min-w-fit">
            <img
                src={`/${variable("branding.images.hero_image.public_path")}`}
                loading="eager"
                alt={variable("branding.images.hero_image.alt | default(value=branding.name)")}
                width={variable("branding.images.hero_image.width")}
                height={variable("branding.images.hero_image.height")}
                class="mx-auto w-96 rounded-md lg:mx-0"
            />
        </div>
    </Tile>
</Layout>
