---
import type { HTMLAttributes } from "astro/types";
import TableRow from "@/components/table/TableRow.astro";
import TableCol from "@/components/table/TableCol.astro";

export interface Props extends HTMLAttributes<"table"> {
    class?: string;
    headings?: string[];
}

const { class: className, headings = [], ...rest } = Astro.props;
---

<div class="w-full overflow-x-auto">
    <table
        class:list={[
            "w-full table-auto border-2 border-solid border-secondary-200",
            className ?? ""
        ]}
        {...rest}
    >
        <thead>
            <TableRow class="border-b-solid border-b-2 border-b-secondary-200 !bg-secondary-200">
                <slot name="header">
                    {
                        headings.map((heading) => (
                            <TableCol as="th" scope="col" class="text-left">
                                {heading}
                            </TableCol>
                        ))
                    }
                </slot>
            </TableRow>
        </thead>
        <tbody>
            <slot />
        </tbody>
    </table>
</div>
