---
import Link from "@/components/Link.astro";

export interface Props {
    entries: [string, string][];
    class?: string;
}

const { entries, class: className } = Astro.props;
---

<nav
    aria-label="Breadcrumb navigation"
    class:list={["flex flex-row flex-wrap gap-2", className ?? ""]}
>
    {
        entries.map(([name, link], i) => (
            <>
                <span class="capitalize">
                    {i === entries.length - 1 ? (
                        <span class="m-0 text-gray-400">{name}</span>
                    ) : (
                        <Link href={link}>{name}</Link>
                    )}
                </span>
                {i !== entries.length - 1 && <span class="m-0 text-gray-400">/</span>}
            </>
        ))
    }
</nav>
