---
import For from "@/components/tera/For.astro";
import Variable from "./tera/Variable.astro";

export interface Props {
    label: string;
    help?: string;
    isCheckbox?: boolean;
    isRequired?: boolean;
    class?: string;
    innerSpanClass?: string;
    errorVar?: string;
    hideText?: boolean;
    forceShowError?: boolean;
}

const {
    label,
    help,
    errorVar,
    isCheckbox,
    isRequired,
    hideText = false,
    forceShowError = false,
    class: className,
    innerSpanClass
} = Astro.props;
---

<label class:list={["group flex flex-col gap-1", className ?? ""]}>
    <span
        class:list={[
            "flex",
            isCheckbox ? "w-fit flex-row-reverse gap-1" : "flex-col",
            innerSpanClass ?? ""
        ]}
    >
        <span
            class:list={[
                "text-lg",
                hideText ? "hidden" : "",
                isRequired ? "after:ml-0.5 after:text-red-500 after:content-['*']" : ""
            ]}>{label}</span
        >
        <slot />
    </span>
    {
        errorVar && (
            <ul
                class:list={[
                    forceShowError ? "" : "hidden",
                    "text-sm text-red-500 group-has-[:user-invalid]:block group-has-[[data-invalid=true]]:block"
                ]}
            >
                <For sourceList={errorVar} itemName="error">
                    <li>
                        <Variable expression="error" />
                    </li>
                </For>
            </ul>
        )
    }
    {help && <span class="text-sm text-gray-500">{help}</span>}
</label>
