---
import ContestLayout from "@/layouts/ContestLayout.astro";
import ProblemForm from "@/components/forms/ProblemForm.astro";
import BreadCrumb from "@/components/BreadCrumb.astro";
import { variable } from "@/lib/tera";
import Title from "@/components/Title.astro";
import Variable from "@/components/tera/Variable.astro";

const problemName = variable("problem_name | default(value=problem.name)");
---

<ContestLayout
    showAdminVar="true"
    noIndex
    path=`/contests/${variable("contest.id")}/problems/${variable("problem.slug")}/edit`
    title={`Edit Problem: ${problemName}`}
    makeTile
>
    <BreadCrumb
        entries={[
            ["Contests", "/contests"],
            [variable("contest.name"), `/contests/${variable("contest.id")}`],
            ["Problems", `/contests/${variable("contest.id")}/problems`],
            [
                problemName,
                `/contests/${variable("contest.id")}/problems/${variable("problem.slug")}`
            ],
            [
                "Edit",
                `/contests/${variable("contest.id")}/problems/${variable("problem.slug")}/edit`
            ]
        ]}
    />
    <Title>Edit <Variable expression="problem.name" /></Title>
    <ProblemForm submitWord="Save" />
</ContestLayout>
