---
import ContestLayout from "@/layouts/ContestLayout.astro";
import BreadCrumb from "@/components/BreadCrumb.astro";
import ProblemForm from "@/components/forms/ProblemForm.astro";
import { variable } from "@/lib/tera";
import Title from "@/components/Title.astro";
---

<ContestLayout
    showAdminVar="true"
    noIndex
    path=`/contests/${variable("contest.id")}/problems/new`
    title="New Problem"
    makeTile
>
    <BreadCrumb
        entries={[
            ["Contests", "/contests"],
            [variable("contest.name"), `/contests/${variable("contest.id")}`],
            ["Problems", `/contests/${variable("contest.id")}/problems`],
            ["New", `/contests/${variable("contest.id")}/problems/new`]
        ]}
    />
    <Title>Create Problem</Title>
    <ProblemForm submitWord="Create" />
</ContestLayout>
